{% extends 'header.html.twig' %}




{% block body %}
	<h1>Add new dir</h1>
	<a href="/post/">Back</a>
	
	
	{{ form_start(form) }}
    

    {{ form_widget(form) }}
	{{ form_end(form) }}
	
{% endblock %}